body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #bfd3c1;
    color: #FFF;
  }
  
  .player {
    width: 1240px;
    margin:  auto;
    margin-top: 108px;
    padding: 20px;
    background-color: #694f5d;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #68a691;
    color: #1B1B1B;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #b6d2b6;
    color: #FFF;
  }
  
  input[type="range"] {
    width: 1500px;
    margin: 0 10px;
    height: 5px;
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 50px;

  }

  .seek-bar-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  
  #seek-bar {
    opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  #timeDisplay {
    width: 20%;
    text-align: left;
  }
  
  .frame{
    color: #f7f7ff;
    max-width: 350px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    padding-top: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0.4, 0, 0.6);
    background-color: #68a691;
  }

  .circle{
    width: 2px;
    background-color: #694f5d;
    padding: 70px;
    padding-left: 85px;
    border:5px solid rgb(109, 188, 249);
    border-radius: 300px;
    margin-left: 90px;
    border-color: #bfd3c1;
  }

#song-name{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
    color: #694f5d;
}


